<div class="login-wrapper container" *ngIf="loaded">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-7 col-sm-12">
      <form class="login-form">
        <div class="login-form-logo-wrapper d-flex align-items-center justify-content-center">
          <img src="assets/pngs/logo.png"/>
        </div>
        
        <div class="controls">
          <h5><a class="controls-link" [class.active]="isViewLogin">Login</a> | <a class="controls-link"  [class.active]="!isViewLogin">Register</a></h5>
          <app-registration></app-registration>
        </div>
      </form>
    </div>
  </div>
</div>
