@import '../../../../assets/scss/variables.scss';

:host {
    width: 100%;
}
.main-nav-desktop {
    background-color: $primary;
    width: 100%;

    .container {
        height: 50px;
    }
}

.main-nav-mobile {
    position: relative;
    display: none;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        background-color: $primary;
        height: 50px;
    }

    .container {
        position: absolute;
        top: 0;
        padding-top: 24px;
        padding-bottom: 8px;
        width: 80%;

        span {
            font-weight: bold;
        }

        .tagline {
            color: #ffffff;
            margin-top: 24  px;
            
        }
    }
}

@media screen and (max-width: 768px) {
    .main-nav-mobile {
        display: block;
    }
    
    .main-nav-desktop { 
        display: none;
    }
}