<ng-container [formGroup]="loginForm">
    <div class="form-group mt-4">
        <input class="form-control" 
            placeholder="Email" 
            formControlName="email" 
            [class.controls-invalid]="controls.email.invalid  && (controls.email.dirty || controls.email.touched)"
            [class.controls-valid]="controls.email.valid  && (controls.email.dirty || controls.email.touched)"
        />
        <small class="text-danger" *ngIf="controls.email.invalid && (controls.email.dirty || controls.email.touched)">
            <ng-container *ngIf="controls.email.errors.required">
                *Required Field
            </ng-container>

            <ng-container *ngIf="controls.email.errors.email">
                Invalid Email Address
            </ng-container>
        </small>
    </div>
    
    <div class="form-group">
        <input 
            placeholder="Password"
            type="password"
            class="form-control"
            formControlName="password" 
            [class.controls-invalid]="controls.password.invalid  && (controls.password.dirty || controls.password.touched)"
            [class.controls-valid]="controls.password.valid  && (controls.password.dirty || controls.password.touched)"
        />
        <small class="text-danger" *ngIf="controls.password.invalid && (controls.password.dirty || controls.password.touched)">
            *Required Field
        </small>
    </div>  

    <small class="text-danger pb-0 mb-0" *ngIf="isUnAuthorized">Incorrect Email or Password!</small>
    
    <div class="d-flex justify-content-between mt-4">
        <button
            mat-button 
            color="primary"
            type="button"
            class="primary-button-color" 
            (click)="setViewStateToRegister()" [disabled]="isLoginLoading">Create new account.</button>
        <button 
            mat-raised-button class="primary-button" 
            [disabled]="loginForm.invalid || isLoginLoading" 
            (click)="login()">{{isLoginLoading ? 'Please wait..' : 'Login'}}</button>
    </div>
</ng-container>
