<div class="file-uploading d-flex flex-column align-items-center justify-content-center">
    <div class="file-uploading-content" style="width: 200px">
        <h3 class="text-center mb-4">Uploading</h3>
        <img src="assets/gifs/panda-bicycling.gif" width="80px" [style.transform]="'translateX('+ pandaAnimationProgress +'px)'">
        <div class="loading-bar">
            <div [style.transform]="'scaleX('+ uploadScaleXProgress +')'"></div>
        </div>

        <p *ngIf="uploadScaleXProgress >=  1" class="text-center">
            Successfully Uploaded.
        </p>
    </div>
</div>