.form-wrapper {
    position: relative;
}

:host ::ng-deep {
    ngx-dropzone-image-preview {
        width: 100%;
        height: auto !important;
        min-height: auto !important;
        margin: 0 !important;

        justify-content: flex-start !important;
        
        ngx-dropzone-label {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}
