<div class="form-wrapper">
    <h1>UPLOAD JPG FILE</h1>
    <p>Drag File to the drop zone or click to browse</p>
    <ngx-dropzone (change)="onSelect($event)" multiple="false" accept="image/jpeg" *ngIf="files.length <= 0">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone>

    <div class="row" *ngIf="files.length > 0">
        <div class="col-lg-6 col-md-7 col-sm-12">        
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
        </div>
        
        <div class="col-lg-6 col-md-5 col-sm-12">  
            <form class="pt-2 pb-2 d-flex flex-column" [formGroup]="form">
                <mat-form-field>
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
              
                <mat-form-field>
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>

                <div class="text-right">
                    <button mat-button class="mr-2">CANCEL</button>
                    <button mat-button class="primary-button" (click)="uploadFile()" type="button" [disabled]="form.invalid || files.length === 0">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>

    <app-upload-loading [uploadProgress]="uploadProgress" *ngIf="isUploading"></app-upload-loading>
</div>