@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/theming';
@import 'assets/scss/variables.scss';

@include mat-core();    

$app-primary: mat-palette($mat-light-blue);
$app-accent:  mat-palette($mat-brown, A200, A100, A400);
$app-warn:  mat-palette($mat-orange, A200, A100, A400);
$app-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

.text-danger {
    color: $danger !important;
}

.text-success {
    color: $primary !important;
}

.primary-button {
    background-color: $primary;
    color: $primary-foreground;
}

.primary-button-color {
    color: $primary !important;
}

.form-control {
    background: #f3f3f3; 
    border-style: none !important;

    &.controls-invalid {
        border-left-style: solid !important;
        border-left-color: $danger;
        border-width: 5px;
    }

    &.controls-valid {
        border-left-style: solid !important;
        border-left-color: #95a772;
        border-width: 5px;
    }
}

*:focus {
    outline-style: none !important;
}